body{
background-image: url('1.jpeg');
background-size: 95em;

}


.negocio {
width: 450px;
height: 450px;
border: 10px solid #00fa9a;
border-radius: 50px;
margin: 3px;
padding: 10px;
}

p{
font-size: 30px;
color: black;
font-family: Cooper Black; 
text-align: center;
}
